<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Login</title>
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>Admin Login</h1>
	<form th:action="@{/admin/login}" method="post">
		<div>
			<label for="username">Username:</label> <input type="text"
				id="username" name="username" required>
		</div>
		<div>
			<label for="password">Password:</label> <input type="password"
				id="password" name="password" required>
		</div>
		<button type="submit" class="f-btn">SUBMIT</button>
				<button type="reset" class="f-btn">RESET</button>
	</form>
	<div th:if="${error}">
		<p th:text="${error}" style="color: red;"></p>
	</div>
</body>
</html>
